name: My First CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Python script
        run: python app.py

      - name: Install pytest
        run: pip install pytest

      - name: Run tests
        run: pytest

      - name: Build Docker image
        run: docker build -t myapp .


